body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img.background {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  display: block;
}

button.middle {
  /* position: relative; */
  display: inline-block;
  background-image: url('./assets/button.jpeg');
  background-position-x: -298.5px;
  background-position-y: -45px;
  z-index: 1;
  width: 170px;
  height: 38px;
  border-color: transparent;
  border-radius: 15px;
  margin-right: 40%;
  margin-top: 10%;
  font-family: cursive;
} 

button:hover {
  box-shadow: 0 6px 16px 0 gold, 0 17px 50px 0 rgba(0,0,0,0.19);
}

button:active {
  background-image: none;
  background-color: rgba(251, 255, 0, 0.9);
  transition: 1s;
}

button:after {
  border-color: transparent;
}

div.middle_buttons {
  position: fixed;
  top: 60%;
  left: 44%;
}

h1 {
  text-align: center;
  position: relative;
  font-family: fantasy;
  font-size: 100px;
}

.title {
  position: fixed;
  top: 30%;
  align-items: center;
  width: 100%;
}

.top_buttons {
  position: fixed;
  top: 0px;
  z-index: 1;
}

button.home {
  background-image: url('./assets/icon.jpeg');
  background-position-x: left;
  background-position-y: 0px;
}